body{
  color: #d0d0d0!important;
  background: #373737!important;
  font-size: 15px!important;
}
.red{
  color: #e87777
}
.green{
  color: #77e8a4
}
.blue{
  color: #8e8eff
}
.main_container{
  display: flex;
  box-sizing: border-box;
  flex-wrap: wrap;
  background-color: #4b4b4b;
  min-height: 100vh;
  color: #d0d0d0;
}
.sideBarContainer{
  flex: 0.01 1 211px;
  box-sizing: border-box;
  background: #373737;
  z-index: 1;
  padding: 5px 0;
}
.sideBarContainer .error{
  padding: 5px 10px;
  text-align: center;
}
.SearchBar_wrapper{
  padding: 5px;
}
.SearchBar_wrapper .ui.input input, .SearchBar_wrapper .ui.input input:focus{
  height: 33px;
  background-color: #808080;
  color: #d0d0d0;
  text-transform: uppercase;
  border: 0;
}
.recent_stock_wrapper{
  padding: 5px;
  position: sticky;
  overflow-y: scroll;
  height: 100vh;
  margin-right: -10px;
}
.recent_item {
  height: 10vh;
  display: flex;
  align-items: center;
  padding: 1vh;
  border-bottom: 1px solid #4c4c4c;
  font-size: 1.6em;
  text-transform: uppercase;
  cursor: pointer;
  line-height: 1;
}
#stockChart{
  margin: 2vh 0;
}
.stock_details_wrapper{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px 3vw;
  margin: 1vh 0 2vh 0;
}
.stock_details_wrapper .stock_Symbol{
  font-size: 5em;
  line-height: 1;
  flex: 1 1;
}
.stock_details_wrapper .details{
  flex: 0 1;
  padding: 0 2vw;
}
.stock_details_wrapper .details div:nth-child(1){
  margin-left: 10px;
  font-size: 1.9em;
}
.stock_details_wrapper .details div:nth-child(2){
  font-weight: bold;
  font-size: 1.4em;
}
.main_area_wrapper{
  flex: 1 2 590px;
  box-sizing: border-box;
  background: linear-gradient(to right, #4b4b4b 5%, #373737 100%);
  width: 100%;
  min-width: 590px;
  z-index: 2;
}
.dashboardHeader {
  height: 8vh;
  display: flex;
  box-shadow: inset -1px -1px 10px #545454;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 20px;
  box-sizing: border-box;
  font-size: 1.6em;
}
.dashboardHeader.show_mobile{
  display: none;
}
#chart{
  height: 60vh;
  padding: 0 10px;
  background-color: transparent;
}
.symbol_label{
  flex: 1 1;
}
.diff_section{
  display: flex;
  flex: 1 1;
  font-size: 0.7em;
  align-items: center;
  justify-content: flex-end;
}
.toggle_button_wrapper{
  padding: 10px 2vw 10px 3vw;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.toggle_button_wrapper .ui.button{
  margin: 5px .3vw;
  background-color: #0000000a;
  color: #d0d0d0;
  font-size: 1em;
}
.toggle_button_wrapper .ui.input input[type="date"]{
  background-color: #0000000a;
  border: none;
  margin: 0 5px;
  color: #d0d0d0;
  font-weight: 800;
}
@media screen and (max-width: 1024px) {
  body{
    font-size: 12px!important;
  }
}
@media screen and (max-width: 800px) {
  .dashboardHeader.show_mobile{
    display: flex;
  }
  .dashboardHeader.hide_mobile{
    display: none;
  }
  .sideBarContainer{
    flex-grow: 1;
    overflow: auto;
  }
  .main_area_wrapper{
    margin-top: -20px;
    padding-top: 1.5vh;
    min-width: unset;
  }
  .recent_stock_wrapper{
    white-space: nowrap;
    overflow: auto;
    padding: 5px;
    position: unset;
    height: unset;
    margin: 0;
  }
  .recent_item_wrapper{
    display: inline-block;
  }
  .recent_item{
    height: 65px;
    margin: 5px;
    width: 27vw;
  }
}
@media screen and (max-width: 768px) {
  body{
    font-size: 10px!important;
  }
}
@media screen and (max-width: 650px) {
  body{
    font-size: 7px!important;
  }
}
